[Unit]
Description=Charlotte
After=network.target

[Service]
ExecStart=/bin/bash start.sh
WorkingDirectory=/home/pi/src/github.com/mglonnro/charlotte-client
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
